@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
// Customization
// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.
// 1. Import the initial variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
//$blue: #06bcef;

 //Add pink and its invert
//$pink: #ff8080;
//$pink-invert: #fff;
//$orange: #FFB57F;
//$orange-invert: #000;
//$blue: blue;

// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;
$family-serif: "Crimson Text", serif, serif;

$family-primary: $family-serif !default


// 3. Set the derived variables
// Use the new pink as the primary color
//$info: $blue;
//$info-invert: $blue-invert;

// 4. Import the rest of Bulma

@import "../../../node_modules/bulmaswatch/spacelab/variables";

$link: $blue;

@import "../../../node_modules/bulma/bulma";

@import "../../../node_modules/bulmaswatch/spacelab/overrides";


.event-header {
  @include btn-shadow(lighten($info, 25%));
  border: 1px solid $info;
}
